# Select a Pandas Series from a DataFrame

In [1]:
import pandas as pd

In [2]:
ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [3]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [4]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [5]:
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [6]:
ufo.shape

(18241, 5)

In [7]:
'ab'+'cd'

'abcd'

In [8]:
ufo.City+ufo.State

0                      IthacaNY
1                 WillingboroNJ
2                     HolyokeCO
3                     AbileneKS
4        New York Worlds FairNY
                  ...
18236              Grant ParkIL
18237             Spirit LakeIA
18238             Eagle RiverWI
18239             Eagle RiverWI
18240                    YborFL
Length: 18241, dtype: object

In [9]:
ufo.City+','+ufo.State

0                      Ithaca,NY
1                 Willingboro,NJ
2                     Holyoke,CO
3                     Abilene,KS
4        New York Worlds Fair,NY
                  ...
18236              Grant Park,IL
18237             Spirit Lake,IA
18238             Eagle River,WI
18239             Eagle River,WI
18240                    Ybor,FL
Length: 18241, dtype: object

In [10]:
ufo['Location']=ufo.City+','+ufo.State

In [11]:
ufo.head(10)

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"
5,Valley City,NaN,DISK,ND,9/15/1934 15:30,"Valley City,ND"
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00,"Crater Lake,CA"
7,Alma,NaN,DISK,MI,7/15/1936 0:00,"Alma,MI"
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00,"Eklutna,AK"
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00,"Hubbard,OR"