# Rename columns in a DataFrame

In [1]:
import pandas as pd

In [3]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [6]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [9]:
ufo.rename(columns={'Colors Reported':'Colors_Reported','Shape Reported':'Shape_Reported'},inplace=True)

In [10]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [19]:
ufo_cols=['city name','colors reported','shape reported','state reported','time reported']
ufo.columns=ufo_cols
ufo.head()

,city name,colors reported,shape reported,state reported,time reported
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00

In [20]:
ufo=pd.read_csv('http://bit.ly/uforeports',names=ufo_cols,header=0)
ufo.head()

,city name,colors reported,shape reported,state reported,time reported
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00

In [21]:
ufo.columns

Index(['city name', 'colors reported', 'shape reported', 'state reported',
       'time reported'],
      dtype='object')

In [22]:
ufo.columns=ufo.columns.str.replace(' ','_')
ufo.columns

Index(['city_name', 'colors_reported', 'shape_reported', 'state_reported',
       'time_reported'],
      dtype='object')