# Read Tabular Data
## [Pandas Read Table Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_table.html)

In [2]:
import pandas as pd

In [4]:
orders=pd.read_table('http://bit.ly/chiporders')

In [6]:
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [8]:
mov=pd.read_table('http://bit.ly/movieusers',sep='|',header=None)

In [10]:
user_cols=['user-id','age','gender','occupation','zip code']
mov.columns=user_cols
mov.head(50)

    user-id  age gender     occupation zip code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107
25       26   49      M       engineer    21044
26       27   40      F      librarian    30030
27       28   32      M         writer    55369
28       29   41      M     programmer    94043
29       30    7      M        student    55436
30       31   24      M         artist    10003
31       32   28      F        student    78741
32       33   23      M        student    27510
33       34   38      F  administrator    42141
34       35   20      F      homemaker    42459
35       36   19      F        student    93117
36       37   23      M        student    55105
37       38   28      F          other    54467
38       39   41      M  entertainment    01040
39       40   38      M      scientist    27514
40       41   33      M       engineer    80525
41       42   30      M  administrator    17870
42       43   29      F      librarian    20854
43       44   26      M     technician    46260
44       45   29      M     programmer    50233
45       46   27      F      marketing    46538
46       47   53      M      marketing    07102
47       48   45      M  administrator    12550
48       49   23      F        student    76111
49       50   21      M         writer    52245