# Create DataFrame from Object

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'id':[100,101,102],'color':['red','blue','green']},columns=['color','id'],index=['a','b','c'])

In [3]:
pd.DataFrame([[100,'red'],[101,'blue'],[102,'green']],columns=['id','color'])

    id  color
0  100    red
1  101   blue
2  102  green

In [4]:
import numpy as np

In [5]:
arr=np.random.rand(4,2)

In [6]:
arr

array([[0.3217969 , 0.12779473],
       [0.21216875, 0.2254381 ],
       [0.43048316, 0.12575197],
       [0.33941082, 0.70739987]])

In [7]:
pd.DataFrame(arr,columns=['one','two'])

        one       two
0  0.321797  0.127795
1  0.212169  0.225438
2  0.430483  0.125752
3  0.339411  0.707400

In [8]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)})

   student  test
0      100    98
1      101    83
2      102    88
3      103    92
4      104    66
5      105    97
6      106    72
7      107    93
8      108    72
9      109    80

In [9]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        90
101       100
102        91
103        90
104        86
105        64
106        68
107        96
108        60
109        96

In [10]:
s= pd.Series(['round','square'],index=['c','b'],name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [11]:
df

   color   id
a    red  100
b   blue  101
c  green  102

In [12]:
pd.concat([df,s],axis=1)

   color   id   shape
a    red  100     NaN
b   blue  101  square
c  green  102   round